# vim: noexpandtab sts=8 sw=8
[user]
	name = norang
	email = pinethee@naver.com
[core]
	editor = vim
	excludesfile = ~/.dotfiles/.gitexclude
[push]
	default = simple
[merge]
	tool = vimdiff
	conflictstyle = diff3
